@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500;600;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

section.satu {
  background-color: #009ecc;
  height: 100vh;
}

section.satu .header-background {
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("../img/header-background.jpg");
  background-color: #009ecc;
  background-size: contain;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}

section.satu header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.satu header nav .logo img {
  width: 170px;
  height: 110px;
}

section.satu header nav .primary-menu {
  display: flex;
}

section.satu header nav ul {
  list-style: none;
}

section.satu header nav ul li {
  padding: 20px;
}

section.satu header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

section.satu header nav ul li .btn-signup {
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  width: 200px;
  background-color: #ffffff;
  color: #f7941e;
}

section.satu header nav .search img {
  width: 20px;
}

section.satu header .caption {
  width: 100%;
  max-width: 600px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.satu header .caption h1 {
  font-size: 70px;
  color: white;
  font-weight: 800;
  margin-bottom: 20px;
}

section.satu header .caption a {
  color: white;
  text-decoration: none;
}

section.satu header .caption .button {
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  background-color: #f7941e;
}

section.dua {
  margin-top: 10px;
  margin-bottom: 10px;
}

section.dua main.dua {
  display: flex;
  line-height: 1.75;
  font-size: 18px;
  letter-spacing: .4;
  color: rgba(0, 0, 0, 0.8);
}

section.dua main.dua .btn {
  background-color: #009ecc;
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
}

section.dua .content,
section.dua .img {
  width: 50%;
}

section.tiga {
  margin-top: 10px;
  margin-bottom: 20px;
}

section.tiga main.tiga {
  display: flex;
  line-height: 1.75;
  font-size: 18px;
  letter-spacing: .4;
  color: rgba(0, 0, 0, 0.8);
}

section.tiga main.tiga .btn {
  background-color: #009ecc;
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
}

section.tiga .content,
section.tiga .img {
  width: 50%;
}

section.empat {
  margin-bottom: 30px;
}

section.empat h1 {
  text-align: center;
}

section.empat main.empat {
  display: flex;
  margin-top: 20px;
  line-height: 2;
}

section.empat .content {
  width: 50%;
}

section.empat .content img {
  width: 50%;
}

section.empat .content ul li {
  list-style: disc;
  color: #f7941e;
}

section.empat .content ul li a {
  text-decoration: none;
  color: black;
}

section.lima {
  text-align: center;
}

section.lima .title h1,
section.lima .title p {
  text-align: center;
  line-height: 2;
}

section.lima main.lima {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  line-height: 2;
  text-align: left;
}

section.lima .content {
  width: 40%;
}

section.lima .content img {
  width: 50%;
}

section.lima .testimoni {
  text-decoration: none;
  color: white;
  background-color: #009ecc;
  padding: 10px 40px;
  border-radius: 20px;
}

section.enam {
  padding-top: 20px;
  text-align: center;
  background-color: #72a243;
  color: white;
}

section.enam main.enam {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  line-height: 2;
  text-align: left;
  color: white;
}

section.enam main.enam img {
  width: 200px;
}

section.enam main.enam .menu-footer {
  display: flex;
  font-size: 18px;
}

section.enam main.enam .menu-footer ul {
  margin-right: 20px;
}

section.enam main.enam .menu-footer li a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #5e8b38;
}

footer main.tujuh {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

body {
  font-family: "Asap", sans-serif;
  font-size: 16px;
}

.container {
  padding: 2% 20%;
}